* {
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

#rating {
    display: none;
    text-align: center;
}

#rating a {
    color: #0751e4;
}

#sessionNameRequired, #nameRequired, #passcodeLength {
    color: red;
    display: none;
}

.header {
    margin-top: 50px;
    text-align: center;
}

.header img {
    width: 50px;
}

.join-flow {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.join-flow input {
    border: 1px solid gray;
}

.join-flow input, .join-flow button, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.join-flow button {
    cursor: pointer;
    background-color: #0751e4;
    border: none;
    color: #ffffff;
    -webkit-transition: background-color .5s;
    -moz-transition:    background-color .5s;
    -ms-transition:     background-color .5s;
    -o-transition:      background-color .5s;
    transition:         background-color .5s;
}

.join-flow button:hover {
    background-color: #003cb3;
}

.join-flow small {
    text-align: center;
    display: block;
    
}

.join-flow small a {
    color: #0751e4;
}