body {
    height: auto;
}

main {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.header {
    margin-top: 50px;
    text-align: center;
}

.header img {
    width: 50px;
}

.join-flow {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.join-flow input {
    border: 1px solid gray;
}

.join-flow input, .join-flow button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.join-flow button {
    cursor: pointer;
    background-color: #0751e4;
    border: none;
    color: #ffffff;
    -webkit-transition: background-color .5s;
    -moz-transition:    background-color .5s;
    -ms-transition:     background-color .5s;
    -o-transition:      background-color .5s;
    transition:         background-color .5s;
}

.join-flow button:hover {
    background-color: #003cb3;
}